<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Boostrap CSS link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
  <style>
    .parallax {
      /* The image used */
      background-image: url("/images/parallaxfoodphoto.jpeg");

      /* Set a specific height */
      min-height: 500px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">

  </div>
  <!-- parallax image -->
  <div class="parallax"></div>
  <h1 class="title"><span class="b-green">N</span><span class="text-white">utri</span><span
      class="b-green">D</span><span class="text-white">ish<span class="b-green">.</span></h1>

  <!-- Insert dropdown container here -->
  <div class="container" id="recipesDiv">
    <section>
      <div class="row">
        {{{ body }}}
      </div>
    </section>
    <div class="row">
      <div class="col">
        <div class="modal fade noLogin" role="dialog" id="noLoginFound">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Please Read Below</h4>
              </div>
              <div class="modal-body">
                Your email was not found or password did not match account
                Click button below if you would like to create a login
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <a type="button" class="btn btn-danger" id="modalSignUpButton" href="/sign-up">Create a login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Links to boostrap Jquery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  {{!-- Link for google jquery --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script type="text/javascript" src="/js/login.js"></script>
  <script type="text/javascript" src="/js/signup.js"></script>
  <script type="text/javascript" src="/js/member.js"></script>
</body>


</html>