<div class="row col-sm-12 d-flex justify-content-center">
      <h3>It’s <span class="b-green">healthier</span> eating. Dished to <span class="b-green">you</span>.</h3>
        <br/> 
        <p> We believe in creating meals that benefit the taste buds as well as the body. 
        We strive to inspire healthier, well rounded eating habits by making nutrition information easily accessible and applicable to the everyday routine. 
        With NutriDish, you are able to enter your personal nutrition goal and get access to hundreds of different ways to start cooking up a more balanced life.
        </p>
    <form class="loginNutri">
        <h2 id="loginForm">Login below</h2>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <div id="login_button">
            <button type="submit" id="login" class="btn btn-default">Login</button>
        </div>
    </form>
</div>