<div class="row bg-info col-sm-12 d-flex justify-content-center">
    <form class="login">
        <h2 id="loginForm">Welcome <span class="member-name"></span></h2>
        <div id="past_recipe_button">
            <button class="btn btn-secondary btn-large" type="button" id="pastSearches"
                onclick="window.location.href = '/searches';">View all past searches</button>
        </div>
        {{!-- <a href="/searches">View all past searches</a> --}}
        <br />
        <div class="form-group">
            <div class="input-group mb-6">
                <div class="input-group-prepend">
                    <label class="search_data input-group-text" for="proteinInputGroup">Proteins</label>
                </div>
                <select class="custom-select" id="proteinInputGroup">
                    <option selected>Choose your protein...</option>
                    <!--  This is where the protein options divs will be rendered when the page is loaded-->
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-6">
                <div class="input-group-prepend">
                    <label class="search_data input-group-text" for="healthInputGroup">Dietary Restrictions</label>
                </div>
                <select class="custom-select" id="healthInputGroup">
                    <option selected>Choose what you would like restrict from your diet...</option>
                    <!--  This is where the health option divs will be rendered when the page is loaded-->
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-6">
                <div class="input-group-prepend">
                    <label class="search_data input-group-text" for="nutrientInputGroup">Nutrients</label>
                </div>
                <select class="custom-select" id="nutrientInputGroup">
                    <option selected>Choose a nutrient that you are deficient in...</option>
                    <!--  This is where the Nutrient option divs will be rendered when the page is loaded-->
                </select>
            </div>
        </div>
        <div id="search_for_recipe_button">
            <button class="btn btn-secondary btn-large" type="button" id="searchButton">
                Search for Recipes
            </button>
        </div>
    </form>
</div>