<div class="container_search">
    <div class="row bg-info col-sm-12 d-flex justify-content-center">
        <h2>Welcome <span class="member-name"></span></h2>
    </div>
    <div class="row col-sm-12 d-flex justify-content-center">
    <button class="btn btn-secondary btn-large m-4" id="viewSavedRecipes" type="input">View all saved recipes</button>
    </div>
    {{!-- <a href="/searches">View all past searches</a> --}}
    <br />
    <div class="row col-sm-12 d-flex justify-content-center">
        <div class="input-group mb-6">
            <div class="input-group-prepend">
                <label class="search_data input-group-text" for="mealTypeInputGroup">Meal Type</label>
            </div>
            <select class="custom-select" id="mealTypeInputGroup">
                <option selected>Choose between a snack, breakfast, lunch, or dinner...</option>
                <!--  This is where the meal type option divs will be rendered when the page is loaded-->
            </select>
        </div>
    </div>
    <div class="row col-sm-12 d-flex justify-content-center">
        <div class="input-group mb-6">
            <div class="input-group-prepend">
                <label class="search_data input-group-text" for="dishTypeInputGroup">Dish</label>
            </div>
            <select class="custom-select" id="dishTypeInputGroup">
                <option selected>Choose what type of dish you would like...</option>
                <!--  This is where the dish option divs will be rendered when the page is loaded-->
            </select>          
        </div>
    </div>
    <div class="row col-sm-12 d-flex justify-content-center">
        <div class="input-group mb-6">
            <div class="input-group-prepend">
                <label class="search_data input-group-text" for="cuisineTypeInputGroup">Cuisine</label>
            </div>
            <select class="custom-select" id="cuisineTypeInputGroup">
                <option selected>Choose the type of cuisine your would like...</option>
                <!--  This is where the cuisine option divs will be rendered when the page is loaded-->
            </select>
        </div>
    </div>
    <div class="row col-sm-12 d-flex justify-content-center">
        <div class="input-group mb-6">
            <div class="input-group-prepend">
                <label class="search_data input-group-text" for="dietInputGroup">Diet</label>
            </div>
            <select class="custom-select" id="dietInputGroup">
                <option selected>Choose what best fits your diet...</option>
                <!--  This is where the diet option divs will be rendered when the page is loaded-->
            </select>
        </div>
    </div>
    <div class="row col-sm-12 d-flex justify-content-center">
        <div class="input-group mb-6">
            <div class="input-group-prepend">
                <label class="search_data input-group-text" for="healthInputGroup">Dietary Restrictions</label>
            </div>
            <select class="custom-select" id="healthInputGroup">
                <option selected>Choose what you would like restrict from your diet...</option>
                <!--  This is where the health option divs will be rendered when the page is loaded-->
            </select>
        </div>
    </div>
    <div class="row col-sm-12 d-flex justify-content-center">
        <div class="input-group mb-6">
            <div class="input-group-prepend">
                <label class="search_data input-group-text" for="nutrientInputGroup">Nutrients</label>
            </div>
            <select class="custom-select" id="nutrientInputGroup">
                <option selected>Choose a nutrient that you are deficient in...</option>
                <!--  This is where the Nutrient option divs will be rendered when the page is loaded-->
            </select>
        </div>
    </div>
    <div class="row col-sm-12 d-flex justify-content-center">
        <button class="btn btn-secondary btn-large m-2" type="button" id="searchButton">
            Search for Recipes
        </button>
    </div>
</div>