<div class="row bg-info">
    <div class="col-12">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h2>Welcome <span class="member-name"></span></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="input-group mb-6">
            <div class="input-group-prepend">
                <label class="input-group-text" for="nutrientInputGroup">Nutrients</label>
            </div>
            <select class="custom-select" id="nutrientInputGroup">
                <option selected>Choose Nutrient...</option>
                <!--  This is where the Nutrient option divs will be rendered when the page is loaded-->
            </select>
        </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <button class="btn btn-secondary btn-large col-6" type="button" id="searchButton">
            Search for Recipes
        </button>
    </div>
</div>
