html {
  position: relative;
  min-height: 100vh;
}

body {
  background-image: url(/images/wood_pattern.png);
  padding-bottom: 3.8rem; 
}

.navbar {
  background-image: url(/images/tileable_wood_texture.png);
}

#login_button {
  text-align: center;
}

#search_for_recipe_button {
  text-align: center;
}

.rowS {
  text-align: center;
}

#past_recipe_button {
  text-align: center;
}

.title {
  color: white;
  text-align: center !important;
  font-size: 78px;
  font-family: "Comfortaa", cursive;
  font-weight: 750 !important;
  display: block;
  margin-block-start: 0.15em;
  margin-block-end: 0.15em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 350px;
}

.b-green {
  color: rgb(37, 187, 37);
  font-family: 'Comfortaa', cursive;
	font-weight: 750!important;
}

#loginForm {
  color: green !important;
}

#welcome {
  color: green !important;
}

.member-name {
  color: black !important;
}

.navbar-brand {
  color: green !important;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.foodpic {
  background-image: url(../images/grains.jpg);
  height: 50px;
  flex-wrap: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  background-image: url(/images/wood_pattern.png);
}

.list-group-item {
  background-image: url(/images/purty_wood.png);
}

.btn {
  background-color: green;
  color: snow;
}

.card-header {
  background-image: url(/images/wood_pattern.png);
}

.card {
  background-image: url(/images/wood_pattern.png);
}

#accordion {
  width: 100%;
}

.input-group-text {
  background-image: url(/images/purty_wood.png);
  font-weight: bold;
}

.search_data {
  width: 170px;
}

.loginNutri {
  width: 400px;
  margin-top: 1px;
  color: black;
  border-radius: 50px;
  background-image: url(/images/purty_wood.png);
  display: inline-table;
  font-weight: bold;
  text-align: center;
}

.signup {
  width: 500px;
  margin-top: 1px;
  color: black;
  border-radius: 50px;
  background-image: url(/images/purty_wood.png);
  display: inline-table;
  font-weight: bold;
  text-align: center;
}

.login {
  width: 750px;
  margin-top: 1px;
  color: black;
  border-radius: 50px;
  background-image: url(/images/purty_wood.png);
  display: inline-table;
  font-weight: bold;
  text-align: center;
}