form.signup,
form.login {
  margin-top: 50px;
  background-color: green;
  color: white;
}

body { 
  background-image: url(/images/country-quilt.png);
}

.title {
  color: green;
  text-align: center;
  font-size: 60px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #546e7a;
	color: white;
	text-align: center;
	text-shadow: ivory;
	text-size-adjust: 15px;
}

.nav-wrapper {
	background-image: url("/public/images/foodheader.jpg");
}