form.signup,
form.login {
  margin-top: 50px;
  color: white;
  border-radius: 8px;
  background: green;
}

body { 
  background-image: url(/images/wood_pattern.png);
}



.title{
	color: white;
	text-align: center;
	font-size: 60px;
	font-family: 'Comfortaa', cursive;
	font-weight: 700 !important;
	position: absolute;
	z-index: 1000;
	top: 350px;
	left: 700px;
  }

.b-green{
	  color: rgb(37, 187, 37);
  }

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #546e7a;
	color: white;
	text-align: center;
	text-shadow: ivory;
	text-size-adjust: 15px;
}

.navbar {
	background-image: url(/images/foodheader.jpg);
	height: 150px;
	flex-wrap: inherit;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* .card-body {

} */

.row {
	background-image: url(/images/wood_pattern.png);
	display: inline;
}

.list-group-item {
	background-image: url(/images/purty_wood.png);
}

/* .card-img-mid {
	max-height: 40rem;
	width: 100%;
	margin-top: 20px;
} */

.btn {
	background-color: grey;
}