form.signup,
form.login {
  margin-top: 20px;
  color: black;
  border-radius: 15px;
  background-image: url(/images/purty_wood.png);
  display: inline-table;
  font-weight:bold; 
}

body { 
  background-image: url(/images/wood_pattern.png);
}

.navbar {
	background-image: url(/images/tileable_wood_texture.png);
}

.title{
	color: white;
	text-align: center!important;
	font-size: 78px;
	font-family: 'Comfortaa', cursive;
	font-weight: 750!important;
	/* position: absolute;
	z-index: 1000;
	top: 250px;
	left: 675px; */
	display: block;
	margin-block-start: 0.15em;
    margin-block-end: 0.15em;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
	line-height: 350px;
  }

.b-green{
	  color: rgb(37, 187, 37);
  }
#loginForm {
	color: green!important;
}

.navbar-brand {
	color: green !important;
}

.signUp	{
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #546e7a;
	color: white;
	text-align: center;
	text-shadow: ivory;
	text-size-adjust: 15px;
}

.foodpic {
	background-image: url(../images/grains.jpg);
	height: 45px;
	flex-wrap: inherit;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} 

.row {
	background-image: url(/images/wood_pattern.png);
}

.list-group-item {
	background-image: url(/images/purty_wood.png);
}

.btn {
	background-color: green;
	color: snow;
}

.card-header {
	/* justify-content: center!important; */
	background-image: url(/images/wood_pattern.png);
}

.card {
	background-image: url(/images/wood_pattern.png);
}

#accordion {
	width: 100%;
}

.input-group-text {
	background-image: url(/images/purty_wood.png);
	font-weight:bold; 
}
